@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


body{
   text-align: center;
   font-family: 'Raleway', sans-serif;
   background-image: url("pildid/taust.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   font-size: 2em;
   color: rgb(94, 80, 80);
}

ul,ol,table {
    display: table;
    margin: 0 auto;
}

hr{
    border-color: rgb(165, 85, 85)
}